@font-face {
    font-family: 'Omega Sans';
    src: url('fonts/OmegaSansRegular.eot');
    src: url('fonts/OmegaSansRegular.eot?#iefix') format('embedded-opentype'),
         url('fonts/OmegaSansRegular.woff2') format('woff2'),
         url('fonts/OmegaSansRegular.woff') format('woff'),
         url('fonts/OmegaSansRegular.ttf')  format('truetype'),
         url('fonts/OmegaSansRegular.svg#Omega Sans') format('svg');
}


.background {
/*     height: 100vh; */
/*     width: 100vh; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

a   {
    text-decoration: none;
}

h1  {
    color: #CDD6D0;
    margin: 20px 0 0 30px;
    font-size: 3.25rem;
    font-family: 'Omega Sans', sans-serif;
}

h2  {
    margin-top: -10px;
    margin-left: 70px;
    color: #D6CBC1;
    font-family: 'Omega Sans', sans-serif;
}

#left-col-main  {
    height: 15%;
    width: 100%;
    background-color: #E16030;
}

#mid-col-main    {
    height: 3%;
    width: 100%; 
    background-color: #CDD6D0;
}

#right-col-main  {
/*     height: 77%; */
    height: auto;
    width: 100%;
    background-color: #F4845F;
}


#bubble-1   {
    background-color: #D6A99A;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 250px;
    margin-left: 10px;
    position: absolute;
/*     animation: animate 8s ease-in-out infinite; */
}

#bubb-1-text    {
    margin-left: 20px;
    margin-top: 40px;
    color: #E16030;
    font-size: 1.2rem;
    position: absolute;
    font-family: 'Omega Sans', sans-serif;
}

#bubble-2   {
    background-color: #F7B267;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 130px;
    position: fixed;
    animation-delay: 0.7s;
    animation-direction: reverse;
    animation: animate 10s ease-in-out infinite;
}

#bubb-2-text    {
    margin-left: 20px;
    margin-top: 40px;
    color: #E16030;
    font-size: 1.2rem;
    position: absolute;
    font-family: 'Omega Sans', sans-serif;
}

#bubble-3   {
    background-color: #F27059;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 250px;
    position: fixed;
    animation: animate 7s ease-in-out infinite;
}

#bubb-3-text    {
    margin-left: 20px;
    margin-top: 50px;
    color: #D6A99A;
    font-size: 1.2rem;
    position: absolute;
    font-family: 'Omega Sans', sans-serif;
} 

@keyframes animate {
    0% {
        transform: translateY(-100px);
    }

    50% {
        transform: translateY(75px);

    }

    100% {
        transform: translateY(-100px);
    }
}

