@font-face {
    font-family: 'Omega Sans';
    src: url('fonts/OmegaSansRegular.eot');
    src: url('fonts/OmegaSansRegular.eot?#iefix') format('embedded-opentype'),
         url('fonts/OmegaSansRegular.woff2') format('woff2'),
         url('fonts/OmegaSansRegular.woff') format('woff'),
         url('fonts/OmegaSansRegular.ttf')  format('truetype'),
         url('fonts/OmegaSansRegular.svg#Omega Sans') format('svg');
}


.background {
    height: 100vh;
    width: 100vw;
/*     height: 100%; */
/*     width: 100%; */
    display: flex;
    flex-direction: column;
}

a   {
    text-decoration: none;
}

h1  {
    color: #CDD6D0;
    margin: 20px 0 0 30px;
    font-size: 3.25rem;
    font-family: 'Omega Sans', sans-serif;
}

h2  {
    margin-top: -10px;
    margin-left: 70px;
    color: #D6CBC1;
    font-family: 'Omega Sans', sans-serif;
}

#left-col-main  {
    height: 15%;
    width: 100%;
    background-color: #E16030;
}

#mid-col-main    {
    height: 3%;
    width: 100%; 
    background-color: #CDD6D0;
}

#right-col-main  {
    height: 480px;
    width: 100%;
    background-color: #F4845F;
}


#bubble-1   {
    background-color: #D6A99A;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 350px;
    margin-left: 10px;
    position: absolute;
/*     animation: animate 8s ease-in-out infinite; */
}

#bubb-1-text    {
    margin-left: 20px;
    margin-top: 40px;
    color: #E16030;
    font-size: 1.2rem;
    position: absolute;
    font-family: 'Omega Sans', sans-serif;
}

#bubble-2   {
    background-color: #F7B267;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 130px;
    position: fixed;
    animation-delay: 0.7s;
    animation-direction: reverse;
    animation: animate 10s ease-in-out infinite;
}

#bubb-2-text    {
    margin-left: 20px;
    margin-top: 40px;
    color: #E16030;
    font-size: 1.2rem;
    position: absolute;
    font-family: 'Omega Sans', sans-serif;
}

#bubble-3   {
    background-color: #F27059;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 250px;
    position: fixed;
    animation: animate 7s ease-in-out infinite;
}

#bubb-3-text    {
    margin-left: 35px;
    margin-top: 50px;
    color: #D6A99A;
    font-size: 1.2rem;
    position: absolute;
    font-family: 'Omega Sans', sans-serif;
} 

@keyframes animate {
    0% {
        transform: translateY(-100px);
    }

    50% {
        transform: translateY(75px);

    }

    100% {
        transform: translateY(-100px);
    }
}


.home-nav-bubb  {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 20px;
    background-color: #F4845F;
    animation: bounce 8s ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.about-nav-bubb {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: -20px;
    margin-left: 130px;
    background-color: #F27059;
    animation: bounce 6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.connect-nav-bubb   {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: -20px;
    margin-left: 130px;
    background-color: #D6A99A;
    animation: bounce 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite; 
}

.projects-nav-bubb  {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: -20px;
    margin-left: 230px;
    background-color: #F7B267;
    animation: bounce 7s;
    /* animation-delay: 7s; */
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.home-nav-text  {
    color: #E16030;
    font-size: 1.2rem;
    position: absolute;
    margin-top: 35px;
    margin-left: 20px;
}

.about-nav-text {
    color: #CDD6D0;
    font-size: 1.2rem;
    position: absolute;
    margin-top: 35px;
    margin-left: 20px;
}

.connect-nav-text   {
    color: #E16030;
    font-size: 1.2rem;
    position: absolute;
    margin-top: 35px;
    margin-left: 15px;
}

.projects-nav-text  {
    color: #E16030;
    font-size: 1.2rem;
    position: absolute;
    margin-top: 35px;
    margin-left: 15px;
}

@keyframes bounce {
    from { transform: translate3d(0, 20px, 0);  }
    to   { transform: translate3d(0, -20px, 0); }
}


/* about me page */

#left-col-about  {
    height: 15%;
    width: 100%;
    background-color: #E16030;
}

#mid-col-about    {
    height: 3%;
    width: 100%;
    background-color: #CDD6D0;
}

#right-col-about  {
    height: 540px;
    width: 100%;
    background-color: #F27059;
}

#about-me-div   {
    height: 550px;
    width: auto;
    margin-left: 20px;
}

.about-me-text  {
    color: #CDD6D0;
    font-size: 0.9rem;
    line-height: 0.9;
}

/* Connect page */

#left-col-connect  {
    height: 15%;
    width: 100%;
    background-color: #E16030;
}

#mid-col-connect    {
    height: 3%;
    width: 100%;
    background-color: #CDD6D0;
}

#right-col-connect  {
    height: 540px;
    width: 100%;
    background-color: #D6A99A;
}

#connect-div    {
    display: flex;
    flex-direction: column;
}

#phonenumber    {
    color: #CDD6D0;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 1.3rem;
    text-decoration: none;
}

#email  {
    color: #CDD6D0;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 1.3rem;
    text-decoration: none;
}

#github {
    color: #CDD6D0;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 1.3rem;
    text-decoration: none;
}

#linkedin   {
    color: #CDD6D0;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 1.3rem;
    text-decoration: none;
}

/* Project page */

#left-col-project  {
    height: 15%;
    width: 100%;
    background-color: #E16030;
}

#mid-col-project    {
    height: 3%;
    width: 100%;
    background-color: #CDD6D0;
}

#right-col-project  {
    height: 540px;
    width: 100%;
    background-color: #F7B267;
}

.projects   {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
}

#card-1 {
    margin-top: 20px;
    margin-left: 20px;
}

#card-2 {
    margin-top: 20px;
    margin-left: 20px;
}

#card-3 {
    margin-top: 20px;
    margin-left: 20px;
}
