body {
    background-color: #f8f9fa;
}

nav {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #D4145A;
}

#nav-name {
    font-family: 'Inter', sans-serif;
    color: #FFB4A2;
    font-size: 1.6rem;
    font-weight: 400;
}

#inner-nav-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 48em;
}

.contact {
    margin-bottom: 4px;
    color: #F4F4F8;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.how-contact {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #F4F4F8;
}

.contact-nav {
    margin-right: 10px;
}

h1 {
    font-family: 'Inter', sans-serif;
    color: #F4F4F8;
    margin-left: 275px;
    padding-top: 110px;
    font-size: 5.9rem;
    font-weight: 300;
}

h2 {
    font-family: 'Inter', sans-serif;
    color: #F4F4F8;
    margin-left: 25px;
    margin-top: 5px;
    font-size: 2.4rem;
    font-weight: 300;
}

.wrapper {
    position: relative;
}

.top-wide {
    position: relative;
    z-index: 2;
    background-color: #0F26A3;
    height: 22em;
    width: 82em;
    margin-left: 5em;
    margin-bottom: 1em;
    margin-top: 2.5em;
}

.mid-left-1 {
    position: absolute;
    z-index: 3;
    background-color: #E27C39;
    width: 60em;
    height: 6em;
    left: 13em;
    top: 19em;
}

.mid-right-1 {
    position: absolute;
    z-index: 4;
    background-color: #0F26A3;
    width: 17em;
    height: 22em;
    top: 42em;
    left: 57em;
}

#resume-screenshot {
    position: absolute;
    z-index: 5;
    height: 22em;
    top: 43.5em;
    left: 58.5em;
}

.mid-left-2 {
    position: absolute;
    z-index: 6;
    background-color: #FFB4A2;
    height: 47em;
    width: 50em;
    top: 83em;
    /* left: 2em; */
}

#projects-name {
    font-family: 'Major Mono Display', monospace;
    color: #0F26A3;
    font-size: 3rem;
}


#concert-project {
    position: absolute;
    height: 21em;
    width: 21em;
    margin-left: 1em;
}


#marigold-project {
    position: absolute;
    height: 12em;
    width: 22em;
    margin-left: 6em;
    margin-top: 24em;
}

#drums-project {
    position: absolute;
    height: 18em;
    width: 17em;
    margin-left: 24em;
    margin-top: 5em;
}

.background-long {
    position: absolute;
    z-index: 1;
    background: linear-gradient(#FBB03B, #D4145A);
    width: 46%;
    left: 45%;
    top: -40px;
    height: 100em;
    opacity: 0.95;
}

#resume-name {
    /* text-orientation: mixed; */
    text-orientation: upright;
    writing-mode: vertical-rl;
    color: #0F26A3;
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    margin-left: 580px;
    position: absolute;
    z-index: 8;
    /* top: 19.3em; */
    top: 14.5em;
    font-weight: 300;
}

.bottom-right {
    position: absolute;
    z-index: 7;
    background-color: #0F26A3;
    height: 8em;
    width: 38em;
    top: 94em;
    left: 42em;
}

#socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.socials {
    font-family: 'Inter', sans-serif;
    color: #FFB4A2;
    font-size: 2.2rem;
    text-decoration: none;
}

#footer {
    position: absolute;
    z-index: 8;
    height: 20em;
    width: 20em;
    top: 120em;
    left: 70em;
    /* background-color: #D4145A; */
    background-color: #FBB03B;
}

.footer-contact     {
    padding: 10px;
}

.footer-contact-sub {
    margin-bottom: 4px;
    color: #F4F4F8;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-decoration: none;
}


/* playing with animation*/

section {
    min-height: 125vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


section .container {
    margin: 100px;
}

section p   {
    color: #0F26A3;
    font-family: 'Inter', sans-serif;
}

section .text-container {
    display: flex;
}

section .text-container .text-box {
    margin: 20px;
    padding: 20px;
    width: 480px;
    height: 500px;
    /* background-color: #D4145A; */
    /* border: 1px solid black; */
}

section .text-container .text-box h3 {
    /* font-size: 30px; */
    font-size: 3.1rem;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 10px;
    /* color: #e0ffff; */
    color: #D4145A;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

@media (max-width: 900px) {
    section {
        font-size: 2rem;
        text-align: center;
    }

    section .text-container {
        flex-direction: column;
    }
}

.reveal {
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateX(0);
    opacity: 1;
}









