body    {
    /* background-color: #F4F4F8; */
    background-color: #f8f9fa;
}


nav {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: #FFB4A2; */
    background-color: #D4145A;
}

#nav-name   {
    font-family: 'Inter', sans-serif;
    /* color: #0F26A3; */
    /* color: #F4F4F8 */
    color: #FFB4A2;
    font-size: 1.6rem;
    font-weight: 400;
}

#inner-nav-div  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 48em;
}

.contact    {
    margin-bottom: 4px;
    /* color: #D33F49; */
    color: #F4F4F8;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.how-contact    {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #F4F4F8;
}

.contact-nav    {
    margin-right: 10px;
}

h1  {
    font-family: 'Inter', sans-serif;
    color: #F4F4F8;
    margin-left: 275px;
    padding-top: 110px;
    font-size: 5.9rem;
    font-weight: 300;
}

h2  {
    font-family: 'Inter', sans-serif;
    color:#F4F4F8;
    margin-left: 25px;
    margin-top: 5px;
    font-size: 2.4rem;
    font-weight: 300;
}

.wrapper {
    position: relative;
}

.top-wide {
    position: relative;
    z-index: 2;
    background-color: #0F26A3;
    height: 22em;
    width: 82em;
    margin-left: 5em;
    margin-bottom: 1em;
    margin-top: 2.5em;
}

.mid-left-1 {
    position: absolute;
    z-index: 3;
    /* background-color: #e19e23; */
    /* background-color: #FBB03B; */
    background-color: #E27C39;
    width: 60em;
    height: 6em;
    left: 13em;
    top: 19em;
}

.mid-right-1    {
    position: absolute;
    z-index: 4;
    /* background-color: #F4F4F8; */
    background-color: #0F26A3;
    width: 15em;
    height: 20em;
    top: 42em;
    left: 59em;
}

#resume-screenshot  {
    position: absolute;
    z-index: 5;
    height: 20em;
    top: 43.5em;
    left: 60.5em;
}

.mid-left-2 {
    position: absolute;
    z-index: 6;
    background-color: #FFB4A2;
    height: 47em;
    width: 50em;
    top: 83em;
    /* left: 2em; */
}

#projects-name  {
    font-family: 'Major Mono Display', monospace;
    color:#0F26A3;
    font-size: 3rem; 
}

/* #project-1  {
    position: absolute;
    height: 21em;
    width: 21em;
    border: 1px solid black;
    margin-left: 1em;
} */

#concert-project    {
    position: absolute;
    height: 21em;
    width: 21em;
    /* border: 1px solid black; */
    margin-left: 1em;
}

/* #project-2  {
    position: absolute;
    height: 12em;
    width: 22em;
    border: 1px dotted black;
    margin-left: 6em;
    margin-top: 24em;
} */

#marigold-project   {
    position: absolute;
    height: 12em;
    width: 22em;
    /* border: 1px dotted black; */
    margin-left: 6em;
    margin-top: 24em;
}

/* #project-3  {
    position: absolute;
    height: 18em;
    width: 14em;
    border: 1px dashed black;
    margin-left: 24em;
    margin-top: 5em;
} */

#drums-project  {
    position: absolute;
    height: 18em;
    width: 15em;
    /* border: 1px dashed black; */
    margin-left: 24em;
    margin-top: 5em; 
}

.background-long {
    position: absolute;
    z-index: 1;
    /* background-color: #D33F49; */
    background: linear-gradient(#FBB03B, #D4145A);
    width: 46%;
    left: 45%;
    top: -40px;
    height: 100em;
    opacity: 0.95;
}

#resume-name    {
    /* text-orientation: mixed; */
    text-orientation: upright;
    writing-mode: vertical-rl; 
    color: #0F26A3;
    font-family: 'Inter', sans-serif;
    /* font-size: 2.3rem; */
    font-size: 3rem;
    margin-left: 580px;
    position: absolute;
    z-index: 8;
    /* top: 19.3em; */
    top: 14.5em;
    font-weight: 300;
}

.bottom-right    {
    position: absolute;
    z-index: 7;
    background-color: #0F26A3;
    height: 8em;
    width: 40em;
    top: 94em;
    left: 40em;
}

#socials    {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.socials    {
    font-family: 'Inter', sans-serif;
    /* color: #e19e23; */
    color: #FFB4A2;
    font-size: 2.2rem;
    text-decoration: none;
}









