*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body    {
    background-color: whitesmoke;
}

li  {
    list-style-type: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
}

a   {
    text-decoration: none;
    /* color: inherit; */
}

.container  {
    display: grid;
    /* grid-template-columns: 50vw 50vw; */
    grid-template-columns: 70vw 30vw;
    grid-template-rows: 50vh 50vh;
    padding: 12px;
}

.skills, .projects   {
    font-family: "Roboto", sans-serif;
    color: #FF1493;
    font-weight: 700;
    font-size: 2.5rem;
    padding: 12px;
    text-align: right;
    writing-mode: vertical-rl;
    animation-name: slide-in; 
    animation-duration: 3s;
}



/* ------------------------------- GRID AREA ONE --------------------- */

.grid-area-1  {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    animation-name: drop-down; 
    animation-duration: 2s;

}

.name   {
    padding-top: 60px;
}

h1   {
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start; */
    font-family: "Bodoni Moda", serif;
    font-size: 10rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: 700;
    place-self: center;
    /* text-align: left; */
    padding-top: 60px;
    line-height: 120px;
    animation-name: drop-down; 
    animation-duration: 4s;

    /* &&:hover    {
        transform: scale(-1,1)
    } */
}

/* .letters {
    display: flex;
    flex-direction: row;
    font-family: "Bodoni Moda", serif;
    font-size: 5rem;
    letter-spacing: 4px;
} */

.letter-span:hover    {
    transform: scale(1,-1);
}

/* ------------------------------- GRID AREA TWO --------------------- */


.grid-area-2    {
    border-bottom: 1px solid black;
    animation-name: drop-down; 
    animation-duration: 2s;
}

.skills-list    {
    text-align: right;
    padding: 40px 80px 0 100px;
    animation-name: drop-down; 
    animation-duration: 4s;
}


/* ------------------------------- GRID AREA THREE --------------------- */


.grid-area-3    {
    border-right: 1px solid black;
    animation-name: drop-down; 
    animation-duration: 2s;
}

.accordian-div  {
    padding-top: 16px;
    margin-left: 80px;
    animation-name: slide-up;
    animation-duration: 2s;
}

details {
    width: 60%;
    border-bottom: 1px solid black;
}

summary, .summary-link {
    font-weight: 700;
    padding: 4px;
    letter-spacing: 2px;
    font-family: "Bodoni Moda", serif;
    &&:hover    {
        cursor: pointer;
        color: #FF1493;
        transform: translateX(6px);
    }
}

summary::marker {
    content: " ";
}

.accordian-details  {
    padding: 8px;
    font-weight: 400;
    font-size: 0.8rem;
    font-family: "Roboto", sans-serif;
}

.accordian-link    {
    font-weight: 400;
    /* padding: 8px; */
    font-size: 0.8rem;
    font-family: "Roboto", sans-serif;
    color: black;
    &&:hover    {
        cursor: pointer;
        color: #FF1493;
    }
}




/* ------------------------------- GRID AREA FOUR --------------------- */


.grid-area-4    {
    /* animation-name: drop-down;  */
    animation-name: slide-in-2;
    animation-duration: 4s;
    background-image: url("images/discoDino.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
}

.discoDino  {
    font-family: "Roboto", sans-serif;
    color: #FF1493;
    font-weight: 400;
    font-size: 1.15rem;
    padding: 16px;
    text-align: right;
}






/* ------------------------------- ANIMATIONS --------------------- */


@keyframes drop-down    {
    from {
        transform: translateY(-300px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-up    {
    from {
        transform: translateY(-10vh);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in   {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-2   {
    from {
        transform: translateX(500px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}







@media (max-width: 768px) {
    .container  {
        /* display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70vh; */

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h1 {
        font-size: 4.4rem;
        line-height: 54px;
        padding-bottom: 16px;
    }
    .grid-area-1, .grid-area-2, .grid-area-3    {
        border-bottom: 1px solid black;
        border-right: none;
        padding-bottom: 16px;
    }
    .grid-area-1    {
        height: 30vh;
    }
    .grid-area-4    {
        height: 50vh;
        width: 100%;
    }
    .skills, .projects  {
        padding-right: 12px;
    }

}
